/* -------- Colors --------- */ 
$white: #fff;
$base-font: #777;

$border1: #58e1c1;
$border2: #ccc;

$col1-btn-info: #927bc1;
$col2-btn-warning: #fd7856;
$col3: #deb2ee;
$col4: #7ee6fd;
$col5: #88d9a0;
$col6: #4da2bb;
$col7: #ec9fa3;
$col8: #fd9f85;
$col9-btn-error: #e4757a;
$col10-btn-success: #63cc82;
$col11-btn-default: #51ddfc;
$col12: #80e8d1;

/* --------- Media Queries ---------- */
//   Breakpoints    //
$break: 768px;