/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $col11-btn-default;
  }
  
  .error {
    background-color: $col9-btn-error;
  }
  
  .info {
    background-color: $col1-btn-info;
  }
  
  .success {
    background-color: $col10-btn-success;
  }
  
  .warning {
    background-color: $col2-btn-warning;
  }